{% extends "base.html" %}
{% load static %}
{% block title %}Question Answer Form{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <div class="container2">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> SMART EVALUATION SYSTEM</h3>
          </div>
        </div>
      </div>
<div id="questions" ></div>
<script src="{% static 'scc.js' %}"></script>
{% endblock %}